.accomodation-page {
    color: #ff6060;
    position: relative;
    width: 88%;
    height: 829px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 150px;
    border-radius: 25px;
    
    h1{
        font-weight:500 ;
        font-size: 36px;
        margin-bottom: 5px;
    }
    h2 {
        color: black;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.accomodation-desc-area{
    display: flex;
    gap: 10px;  
}