.appartement{
    background-size: cover;
    width: 100%;
    height: 340px;
    position: relative;
    border-radius: 25px;
    & img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;       
    }       
}

@media  (max-width: 768px) {
    .appartement{
        width: 97%;
        height: 255px;
        margin-inline: 9px;
    }
}        
.appartement-desc  {
    position: absolute;
    color: white;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px; 
    position: absolute;
    bottom: 0;
    align-items: flex-end;
        @media  (max-width: 768px) {
            .appartement-desc{
                width: auto;
            }
        }
}
.appartement-desc a{
    text-decoration: none;
}