.accomodation-page {
    color: #ff6060;
    position: relative;
    width: 91%;
    height: 100%;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 136px;
    border-radius: 25px;
    overflow: hidden;

    @media (max-width:1168px) {
        margin-inline: auto;
    }
    @media (max-width:768px){
        margin-left: 9px;
        width: 95%;
    }
    h1{
        font-weight:500 ;
        font-size: 36px;
        margin-bottom: 5px;
    }
    h2 {
        color: black;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.accomodation-desc-area{
    display: flex;
    gap: 10px;  
  
    @media (max-width:768px) {
        flex-direction: column;
    }
}