.accomodation-header{
    width: 100%;
    display: flex;
    @media  (max-width: 768px) {
        flex-direction: column;
    }
}
.accomodation-title {
    width:99% ;
}
.accomodation-tags   {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,130px)) ;
    gap: 25px;
    margin-bottom: 30px;
        span{
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 5px;
            background-color: #ff6060;
            color: white;
            border-radius: 10px;
            width:140px;
            font-size: 14px;
            font-weight: 500;
        }
}

.accomodation-owner {
    margin-left: auto;        
    @media (max-width:768px){
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        margin-left: 0;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    h3 {
        display: grid;
        place-items: end;
        font-weight: 500;
        font-size: 18px;
        margin-top: 18px;
    }
}
.accomodation-owner-badge img{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #646464;
}

.accomodation-owner-details {
    display: flex;
    gap:10px;
}

.accomodation-owner-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: larger;
    color: grey;
   .on {
        color: #ff6060;
   } 
}