.grid {
    position: relative;
    background-color:#F6F6F6;
    border-radius: 25px;
    margin-left: 87px;
    margin-right: 80px;
    margin-bottom: auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 50px;
    justify-content: space-around;
    gap: 55px;
    
}


@media (max-width:1121px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:768px) {
    .grid{
        background-color: white;
        grid-template-columns: 1fr;
        width: 96%;
        align-items: center;
        justify-content: center;
        margin-inline: -3px;
        padding-inline: 7px;
        margin-bottom: auto;  
        gap:30px 
    }
}